{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Wishlist{% endblock %}

{% block body %}
    <h1>My Wishlist</h1>

    {% for wish in wishes %}
    <a href="{{ path('wish_details', {id: wish.id} ) }}">
        <div class="card mb-2">
            <div class="card-body">
                {{ wish.title }}
                <div class="wish-author small">Created by {{ wish.author }} in {{ wish.category }} | {{ wish.dateCreated|date('Y-m-d') }}</div>
            </div>
        </div>
    </a>
    {% else %}
    <div class="card mb-2">
        <div class="card-body">
            <span class="error">There is no wish in you list</span>
        </div>
    </div>
    {% endfor %}

{% endblock %}
